


h1 {
    text-align: center;
    color: #333;
    margin-bottom: 25px;
    font-size: 28px;
}

#root{
    width: 100%;
}
#login-div{
    width: 500px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f0f4f8;
    color: black;
    transition: border-color 0.3s;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus {
    border-color: #7aa6e8;
    outline: none;
}

button[type="submit"] {
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

p {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}

p[style*="color: red"] {
    color: red;
}

p[style*="color: green"] {
    color: green;
}



.alertify-notifier {
    top: 10px;
    right: 10px;
    bottom: auto;
    left: auto;
    color: black;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }